#knappUaJ {
    display: none;
}
#knappUaV {
    display: none;
}
#knappUaP {
    display: none;
}
#knappBoJ {
    display: none;
}
#knappBoV {
    display: none;
}
#knappBoP {
    display: none;
}
#knappEnJ {
    display: none;
}
#knappEnV {
    display: none;
}
#knappEnP {
    display: none;
}
#knappUgJ {
    display: none;
}
#knappUgV {
    display: none;
}
#knappUgP {
    display: none;
}